Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea/
*.iml
*.ipr
*.iws
.project
.settings
.classpath
/avro-buddy-core/
/avro-buddy-generator/
/avro-buddy-json/
/avro-buddy-xml/
/skatt-file-to-parquet/
/skatt-synthetic-data-to-parquet/
